.navbar-item a:hover {
  text-decoration: none;
}

.navbar:not(.is-transparent) {
  box-shadow: 0 1px 1px -5px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.button {
  text-transform: none;
  box-shadow: none;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.button:hover {
  border: 1px solid #dbdbdb;
}

.button:active,
.button.is-info:active,
.button.is-white:active {
  box-shadow: none;
}

hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.08);
}
