@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$family-sans-serif: "Inter", sans-serif;

$control-border-width: 1px;
$input-border-color: rgb(209, 213, 219);
$input-shadow: none;
$input-radius: 0.375rem;

$button-radius: 5px;
$button-border-color: transparent;
$button-hover-border: transparent;
$button-focus-border-color: transparent;
$button-active-border-color: transparent;
$input-disabled-background-color: transparent;

$navbar-divider-background-color: transparent;

$box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

.button {
  border-radius: 7px !important;
}

.navbar {
  border-bottom: 1px solid #ebeaeb;
}

$navbar-height: 3.75rem;

.transition-fade {
  opacity: 1;
  transition: 100ms;
}

#username-error,
#password-error,
#password-error,
#confirm_password-error,
#email-error {
  color: #f14668;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

html.is-animating .transition-fade {
  opacity: 0;
}

html.is-leaving .transition-fade {
  opacity: 0;
}

@import "../node_modules/bulma/bulma.sass";
