.navbar-item a:hover {
  text-decoration: none;
}

.navbar:not(.is-transparent) {
  box-shadow: 0 1px 1px -5px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.button {
  text-transform: none;
  box-shadow: none;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.button:hover {
  border: 1px solid #dbdbdb;
}

.button:active,
.button.is-info:active,
.button.is-white:active,
.button.is-danger:active {
  box-shadow: none;
}

hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.08);
}

.transition-fade {
  opacity: 1;
  transition: 200ms;
}

html.is-animating .transition-fade {
  opacity: 0;
}

html.is-leaving .transition-fade {
  opacity: 0;
}

.notification.is-danger.is-light {
  background-color: #feedec;
  color: #d0190b;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.navbar:not(.is-transparent) {
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
  border-bottom: 1px solid #ebeaeb;
}

#username-error,
#password-error {
  color: #f14668;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

.box.index-contest {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
  color: #4a4a4a;
  display: block;
  padding: 1rem;
  border: 1px solid #dbdbdb;
}
