php_value session.gc_maxlifetime 30000000

IndexIgnore * # prevent directory listing

Order deny,allow
Allow from *

# Rewrite so that php extentions are not shown
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

DirectoryIndex index.php

ErrorDocument 404 '<div style="display:flex;align-items: center;justify-content: center;height: 60vh;"> <div style="text-align: center;"> <h1 style="font-family: Roboto;font-style: normal;font-weight: normal;font-size: 56px;line-height: 42px;color: #646464;">Error 404</h1> <a style="text-decoration: none;font-family: Roboto;font-style: normal;font-weight: normal;font-size: 22px;line-height: 14px;color: #1889E6;" href="./">go to /home page</a> </div></div>'